@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin flex-center-wrap {
	@include flex-center();
	flex-wrap: wrap;
}

@mixin grid-center($column-size:100,$auto-rows:200,$repeat){
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat($repeat,$column-size);
	grid-auto-rows: #{$auto-rows};
}