.info_modal {
	transition: 250ms;
	transition-delay: 200ms;
	pointer-events: none;
	width: 250px;
	height: 400px;
	border: 3px solid;
	border-radius: 10px;
	backdrop-filter: blur(6px);
	background-image: none;
	position: absolute;
	z-index: 10;
	opacity: 0;
	color: white;
}

#light {
	border-color: rgb(1, 162, 255);
	
}

#snowfall{
	border-color: black;
}

.open {
	opacity: 1;
}

.weather_info_logotype {
	text-align: center;
	font-size: clamp(20px, 7vw, 30px);
	margin-top: 10px;
}

.weather_list {
	margin: 15px 0px 15px 10px;
	width: 100%;
	list-style: none;
	&_item {
		width: 100%;
		font-weight: 600;
		font-size: clamp(18px, 7vw, 20px);
		margin-top: 15px;
	}
}

@media (max-width: 1100px) {
	.open {
		display: none;
	}
}
