@import '../../scss-widgets/mixins';

.main_container {
	@include grid-center(1fr, 800px, 2);
	grid-template-columns: 1fr 1.4fr;
	gap: 20px;
	height: 100%;

	@media (max-width: 1400px) {
		@include grid-center(1fr, auto, 1);
		grid-template-rows: auto calc(1000px + 10vh);
	}
}

.global_container{
	transition: 250ms;
    box-sizing: border-box;
    min-width: 100%;
    padding: 0px 25px 10px 25px;
    min-height: 100vh;
   
}

