@import '../../scss-widgets/mixins';

.header{
    margin-bottom: 50px
}

.navigation{
    @include flex-center;
    width: 100%;
    text-align: center;
    padding:10px 0px ;
}
.variables{
    @include flex-column-center;
    position: relative;
    width: 60%;
    .list_citys{
        position: absolute;
        top:45px;
        z-index: 10;
        width: 100%;
        height: auto;
        border-radius: 10px;
        font-size: clamp(20px,7vw,30px);
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
        option{
            height: 10px;
        }
        option:hover{
            background-color: rgb(214, 214, 214);
        }       
    }
}

.openSearch{
    visibility: visible;
}
.closeSearch{
    visibility: hidden;
   
}

.list_citys::-webkit-scrollbar{
    display: none;
}


.search{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: clamp(20px,6vw,30px);
    padding: 0px 10px;
}



.label_search{
    @include background-image-standart;
    position: absolute;
    top:5px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../../svg/search-svgrepo-com.svg);
}



@media(max-width:1100px){
    .variables{
        width: 100%;
    }
}