.header {
  margin-bottom: 50px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}

.variables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 60%;
}
.variables .list_citys {
  position: absolute;
  top: 45px;
  z-index: 10;
  width: 100%;
  height: auto;
  border-radius: 10px;
  font-size: clamp(20px, 7vw, 35px);
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  list-style: none;
}
.variables .list_citys li:hover {
  background-color: rgb(214, 214, 214);
}

.openSearch {
  visibility: visible;
}

.closeSearch {
  visibility: hidden;
}

.list_citys::-webkit-scrollbar {
  display: none;
}

.search {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: clamp(20px, 6vw, 30px);
  padding: 0px 10px;
}

.label_search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 5px;
  right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../../svg/search-svgrepo-com.svg);
}

@media (max-width: 1100px) {
  .variables {
    width: 100%;
  }
}