
*{
	margin: 0;
	padding: 0;
}

body{
	padding: 0px 30px 0px 30px;
	background: linear-gradient(146deg, rgba(8,191,255,1) 14%, rgba(1,108,255,1) 55%);
	font-family: 'Courier New', Courier, monospace;
}