* {
	margin: 0;
	padding: 0;
	// outline:1px solid red;
}
#root {
	height: 100%;
}

html {
	min-height: 100vh;
	overflow-y: scroll;
}

body {
	font-family: 'Courier New', Courier, monospace;
	
}



.dark {
	border-color: rgb(99, 98, 98);
	background: linear-gradient(
		133deg,
		rgb(51, 49, 43) 20%,
		rgb(69, 70, 71) 100%
	) ;
}
.light {
	background-image: linear-gradient(
		146deg,
		rgba(8, 191, 255, 1) 14%,
		rgba(1, 108, 255, 1) 55%
	);
}
.snowfall {
	border-color: rgb(99, 98, 98) ;
	background-image: linear-gradient(
		133deg,
		rgb(190, 190, 190),
		rgb(216, 215, 215)
	) ;
	* {
		color: black ;
	}
}

.rain, .cloudness {
	border-color: rgb(99, 98, 98) ;
	background: linear-gradient(
		133deg,
		rgb(173, 172, 172) 20%,
		rgb(126, 134, 139) 100%
	) ;
}
