
*{
	margin: 0;
	padding: 0;
	// outline:1px solid red;
}
#root{
	height: 100%;
}

html{
	min-height: 100vh;
	overflow-y: scroll;
}

body{
	padding: 0px 30px 10px 30px;
	height: 100%;
	
	background: linear-gradient(146deg, rgba(8,191,255,1) 14%, rgba(1,108,255,1) 55%);
	font-family: 'Courier New', Courier, monospace;
}